	<!-- GENERAL -->
	<meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5.0'>
    <meta name="description" content="Un nuevo blog, otra vez">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- ICON AND THEMING -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.acentoenlao.com/images/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.acentoenlao.com/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.acentoenlao.com/images/icon/favicon-16x16.png">
    <link rel="manifest" href="https://www.acentoenlao.com/images/icon/site.webmanifest">
    <link rel="mask-icon" href="https://www.acentoenlao.com/images/icon/safari-pinned-tab.svg" color="#cc4b23">
    <link rel="shortcut icon" href="https://www.acentoenlao.com/images/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#cc4b23">
    <meta name="msapplication-config" content="https://www.acentoenlao.com/images/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Acento en la O">
    
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
