// VARIABLES

// FONTS
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: "Kumbh Sans";
  src: url(/fonts/KumbhSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url(/fonts/KumbhSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$systemFont: "system", sans-serif;
$headerFont: "Kumbh Sans", sans-serif;

// COLORS
$blue: #2f64df;
$green: #337357;
$brightYellow: #ffe19c;
$yellow: #ffc336;
$orange: #cc4b23;
$red: #a4031f;

// GRAYS
$black: #000;
$darkerGray: #121212;
$darkGray: #272727;
$gray: #666;
$lightGray: #e5e5e5;
$white: #fff;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
