
//
// VARIABLES
//

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

// Colors
$blue: #2f64df;

// Grays
$black: #000;
$darkerGray: #121212;
$darkGray: #272727;
$gray: #666;
$lightGray: #e5e5e5;
$white: #fff;
$orange: #D34E24;
$green: #337357;
$red: #A4031F;

// Font stacks
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
$systemFont: "system";
$headerFont: 'Montserrat', sans-serif;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}