
//
// VARIABLES
//

// Colors
$blue: #2f64df;

// Grays
$black: #000;
$darkerGray: #121212;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
$systemFont: "system";

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI"), local("Roboto"), local("DroidSans"), local("Tahoma");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$headerFont: 'Montserrat', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}